# CDK asset staging directory
cdk.out
cdk.context.json

# Build output
*.js
*.d.ts
!jest.config.js

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE
.idea
.vscode
*.swp
*.swo
*~







